<mat-accordion>
    
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
        <mat-panel-description>
          Click to {{panelOpenState ? 'Close' : 'Edit'}}
        </mat-panel-description>
        
        <p style="color: blue;">Number of likes: {{post.likes}}</p>
        
      </mat-expansion-panel-header>
      <button mat-raised-button color="warn" (click)="deleteSaved(post.id)">Delete</button>
      <button mat-raised-button color="primary" (click) = "likes(post.likes, post.id)">Like</button>
      <br>
      <p >Number of likes: {{post.likes}}</p>
    </mat-expansion-panel>
  </mat-accordion>
  