<mat-card>
    <h1>Calculate</h1>
    <form #calForm = "ngForm" (ngSubmit) = "onSubmit()">  
        <div>
            <mat-form-field appearance="fill">
                <mat-label>X</mat-label>
                <input matInput type="number" [(ngModel)] = x name=x required>
                <mat-error *ngIf="calForm.hasError">enter x</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Y</mat-label>
                <input matInput type="number" [(ngModel)] = y name=y required>
                <mat-error *ngIf="calForm.hasError">enter y</mat-error>
            </mat-form-field>
              <div>
                  <br>
                <button [disabled] = "!calForm.form.valid" type = "submit" mat-raised-button color="primary">Test</button>
              </div>
        </div>
        Result: {{result}}
    </form>
</mat-card>

